/*--------------------------------------------------------
Style Sheet for Recipe component. UDACITY Project - Cloud Developper Nanodegree
version: 0.0.1
last modified: 20/06/2020
author: E. RONDON
----------------------------------------------------------*/
@use 'theme';


.card-container{
    width: 100%;
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: theme.$border-radius;
    flex: 1 1 48%;
    max-width: 48%;
    margin: theme.$medium-margin 1%;
}

/*image responsive layout and style*/
.card-image{
    width: 100%;
    height: auto;
    border-radius: theme.$border-radius theme.$border-radius 0 0;
}

/*card body*/
.card-body-container{
    padding: theme.$min-padding;
    display: flex;
    flex-flow: column;
    font-family: theme.$lato-font;

    h3{
        font-size: 1.3em;
        font-weight: 500;
        color: theme.$primary-color-dark;
        padding: theme.$min-padding;
        align-self: center;
    }

    p{
        color: theme.$second-text-color;
        padding: theme.$min-padding;
        b{
            color: theme.$primary-color-light;
        }
    }

}

.align-end{
    align-self: flex-end;
}

.scrolling-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    font-family: theme.$lato-font;
    margin: theme.$min-margin 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrolling-container::-webkit-scrollbar {
    display: none;
  }
  

.ingredient-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: theme.$medium-margin theme.$medium-margin;
    padding: theme.$medium-padding;
    border-radius: theme.$border-radius;
    background-color: theme.$primary-color;

    h4{
        font-weight: 500;
        color: theme.$secondary-color;
    }

    img{
        width: 45px;
        height: 45px;
    }

    p{
        font-weight: 600;
        color: theme.$secondary-color-dark;
    }

}


/*layout for devices with width inferior or equal to 600px*/
@media(max-width:600px){
    .card-container{
        flex: 1 1 98%;
        max-width: 98%;
        margin: theme.$medium-margin 1%;
    }
    .scrolling-container::-webkit-scrollbar{
        display: none;
    }
}

/*layour for devices with width between 601px and 900px*/
@media(min-width:601px) and (max-width:900px){
    .scrolling-container::-webkit-scrollbar{
        display: none;
    }
}